@font-face {
    font-family: TradeGothic;
    src: url(../fonts/TradeGothicLTStd-BD2Obl.otf);
}
@font-face {
    font-family: TradeGothicbold;
    src: url(../fonts/TradeGothicLTStd-BoldObl.otf);
}

@font-face {
  font-family: TradegGothicboldie;
  src: url(../fonts/TradeGothicLTStd-BoldObl.eot) format('embedded-opentype');
}
/*@font-face {
    font-family: TungstenNarrow;
    src: url(../fonts/TungstenNarrow-Bold.otf);
}*/
