body.landing section.malta {
  overflow:hidden;
  video {
    min-height: 100vh;
    min-width: 100vw;
    width: auto;
    height: 100vh;
    object-fit: contain;     
  }
  div {
    text-align: center;
    display:flex;
    align-items:center;
    height:100vh;
  }
  p {
    font-family: TradeGothicbold,TradegGothicboldie,arial;
    font-size: $mediumFont;
    letter-spacing: -0.05em;
    line-height: 90%;
    text-transform: uppercase;
    color: white;
    position: absolute;
    width:100%;
    margin-left:-6px;
  }
}
