.nosotros_ingredientes {
  height: 100vh;
  width: 100vw;
  div {
    display: flex;
    > div {
      display: flex;
      flex-direction: column;
      justify-content:center;
      position: relative;
      height: 100vh;
      width: 100%;
      background-image: url(../img/backgroundingredientes.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      }

  }
  img {
    height: 100vh;
    display: inline-block;
    position: relative;
    margin: 0 -15px 0 -25px;
    z-index: map-get($zindex, latas);
  }

  p {
    font-size: $largeFont;
    font-family: TradeGothicbold,TradegGothicboldie,arial;
    letter-spacing: -0.05em;
    color: $primary-red;
    line-height: 92%;
    text-transform: uppercase;
    margin-left: 6%;
  }
}
